<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
</head>
<body>

    <h1>Simple Todo App</h1>

    <form action="/create-todo" method="post">
        <input type="text" name="item" placeholder="Enter a new todo" required>
        <button type="submit">Add</button>
    </form>

    <h2>Todo List:</h2>
    <ul>
        {% for todo in todos %}
            <li>{{ todo }}</li>
        {% else %}
            <li>No todos yet!</li>
        {% endfor %}
    </ul>

    

    <h2>Usr List:</h2>
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% else %}
            <li>No users yet!</li>
        {% endfor %}
    </ul>

    <h3>Login:</h3>
        <form action = '/create-user' method="post">
            <input type="text" name="user" placeholder="Enter username"  required>
            <button type="submit">Create user</button>
        </form>
        <ul>

            
        </ul>

    
</body>
</html>